.board-container {
    display: flex;
    flex-direction: column;
}

.nqueens-controll {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.input-field {
    width: 20px;
    text-align: center;
}

.nqueens-btn {
    margin-left: 18px;
}

.chess-board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.chess-cell {
    background: cornflowerblue;
}

.disable {
  pointer-events: none;
}