.board-container {
    display: flex;
    flex-direction: column;
}

.nqueens-controll {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.input-field {
    width: 30px;
    text-align: center;
}

.nqueens-btn {
    margin-left: 18px;
}

.chess-board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.chess-cell {
    border: 1px gray solid;
    margin-top: -1px;
    margin-left: -1px;
}

.cell-i {
    background-color: rgb(110, 144, 177);
}

.cell-j {
    background-color: rgb(225, 224, 224);
}

.queen {
    background-image: url('./queen.svg');
    background-repeat: no-repeat;
}

.disable {
  pointer-events: none;
}