.board-container {
    display: flex;
}

.nqueens-controll {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.input-field {
    width: 20px;
    text-align: center;
}

.nqueens-btn {
    margin-left: 18px;
}

.disable {
  pointer-events: none;
}