.maze-container {
    display: flex;
    flex-direction: column;
    padding-top: 12px;;
    align-items: center;
    background-color: darkgray;
    height: 100vh;
}

.maze-controll {
    display: flex;
    justify-content: center;
}

.show-path-btn {
    margin-left: 32px;
}

.maze-grid {
    min-width: 1200px;
    max-width: 1200px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.solid {
    background-color: black;
    width: 10px;
    height: 10px;
    border: 5px solid black;
}

.right-pass {
    border-right: 5px solid white;
}

.left-pass {
    border-left: 5px solid white;
}

.top-pass {
    border-top: 5px solid white;
}

.bottom-pass {
    border-bottom: 5px solid white;
}

.hollow {
    background-color: white;
    width: 10px;
    height: 10px;
}


