.maze-container {
    display: flex;
    flex-direction: column;
    padding-top: 12px;;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.maze-controll {
    display: flex;
    justify-content: center;
}

.show-path-btn {
    margin-left: 32px;
}

.maze-grid {
    min-width: 975px;
    max-width: 975px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.solid {
    background: black;
    width: 15px;
    height: 15px;
}

.hollow {
    background-color: white;
}

.maze-path {
    background-color: red;
}

.disable {
  pointer-events: none;
}