
.modal {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  /* color: rgb(94, 94, 94); */
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}

.modal-guts p {
  line-height: 1.3;
}

p {
  margin: 0 0 10px 0;
}

h1 {
    text-align: center;
    margin: 0 0 20px 0;
}


