.grid-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gcp {
    display: flex;
    justify-content: center;
}

.controlls {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.start-btn {
    margin-right: 32px;
}

.tips-btn {
    margin-left: 32px;
}

.pointers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    min-width: 1050px;
    padding: 8px;
}

.cell {
    width: 20px;
    height: 20px;
    outline: 1px solid lightgray; 
    margin-top: 1px;
    margin-left: 1px;
}

.start {
    background-image: url('./star-solid.svg');
    background-repeat: no-repeat;
}

.finish {
    background-image: url('./flag-solid.svg');
    background-repeat: no-repeat;
}

.tips {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  z-index: 100;
  background: white;
  box-shadow: 0 0 8px 2px rgba(121, 121, 121, 0.9);
}

.tips-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;
}

.close-btn {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;
    border: 0;
    color: black;
    background-color: white;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.closed {
  display: none;
}

.wall {
    background-color: slategray;
}

.visit {
    background-color: royalblue;
    animation: dijstra 1.5s ease-out;
}

.path {
    background-color: rgb(106, 187, 106);
}

@keyframes dijstra {
  33% {
    transform: scale(.3);
    background-color: gold;
    border-radius: 100%;
  }
  66% {
    background-color: white;
  }
  100% {
    transform: scale(1.5);
    background-color: purple;
  }
}
