.bars-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.bars-controll {
    display: flex;
    align-items: center;
}

#slider:hover {
    cursor: pointer;
}

.slider-container {
    display: flex;
}

.sort-btn {
    margin-right: 50px;
}

.hover {
    cursor: pointer;
}